@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="Jumbotron">
    <div class="row">
        <div class="col">
            <img src="images/chicago.jpg" class="img-fluid" alt="The legendary Bean, Chicago, IL">
        </div>
        <div class="col">
            <h1>Welcome to the Home Index!</h1>
        </div>
    </div>
</div>
