
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: mintcream;
    
}
h1 {
    font-size: 3em;
    text-align: center;
}


img {
    border-radius: 30px;
    padding: 10px;
}

label {
    
}

input {
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/*NAVBAR STYLE*/


